doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript",src="/js/jquery/jquery-1.8.3.min.js")
    script(type="text/javascript",src="/js/zzsc/zzsc.js")
  body
    block content
    #zzsc
    div(style="text-align:center;clear:both;margin-top:20px")
